@model Endereco

<h2>Editar Endereço</h2>
<br />

<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="PessoaId" value="@Model.PessoaId" />
    <div class="form-group">
        <label class="label" for="Logradouro">Logradouro</label>
        <input type="text" id="Logradouro" name="Logradouro" value="@Model.Logradouro" class="form-control" required />
    </div>
    <div class="form-group">
        <label class="label" for="CEP">CEP</label>
        <input type="text" id="CEP" name="CEP" value="@Model.CEP" class="form-control input" required />
    </div>
    <div class="form-group">
        <label class="label" for="Cidade">Cidade</label>
        <input type="text" id="Cidade" name="Cidade" value="@Model.Cidade" class="form-control input" required />
    </div>
    <div class="form-group">
        <label class="label" for="Estado">Estado</label>
        <input type="text" id="Estado" name="Estado" value="@Model.Estado" class="form-control input" required />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("Index", "Endereco", new { pessoaId = Model.PessoaId })" class="btn btn-secondary">Cancelar</a>
</form>
